/*Aqui colocamos el color de letra que queremos que tenga el cuerpo, el fondo y que este centrado*/
body{
    background-image: url(imgprin/unifon.jpg);
    color: white;
    display: flex;
    justify-content: center;
}
/*Definimos lo que queremos que habarque la seccion del titulo, el tipo de letra y lo centramos*/
.titulo{
    display: flex;
    width: 100%;
    height: 33%;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 40px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/*Definimos lo que queremos que habarque la seccion del texto, el tipo de letra y lo centramos*/
.texto{
    display: flex;
    width: 100%;
    height: 33%;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/*Colocamos la tabla en el medio, la centramos y le damos el tipo de letra*/
ul, li {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: auto;
    width: 100%;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 15px;
}
/*Le cambiamos el color a los links y le damos algo de interactividad*/
.links a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }
  
.links a:hover{
    color: black;
    background-color: #A9A9A9;
  }

.des{
    display: flex;
    text-align: center;
}

.menu > li{
    float: left;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 10px;
    width: 90%;
}

.menu li:hover > ul{
    display: block;
}

.menu{
    width: 100%;
}

/*Adaptamos la página para verse correctamente desde una tablet*/
@media screen and (max-width: 915px){
    .menu li ul{
        width: 87%;
    }
  }
  /*Adaptamos la página para verse correctamente desde un celular*/
  @media screen and (max-width: 540px) {
    .menu li ul{
        width: 73%;
    }
   
  }
  
  /*Adaptamos la página para que se vea mejor en un telefono muy delgado como lo puede ser un Galaxi Fold eliminando las imagenes*/
  @media screen and (max-width: 280px){
    .menu li ul{
        width: 60%;
    }
  }