/*Primero modifico el tamaño de las imagenes*/
.imagen1{
    width: 500px;
    height: auto;
  }
  
  .imagen2{
    width: 500px;
    height: auto;
  }
 /*Aquí colocamos que tipo de letra queremos para nuestra pagina y el fondo*/ 
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F0F8FF;
  }
/*Aquí modificamos el titulo poniendole un fondo y colocando cuanton queremos que avarque*/ 
.titulo{
    width: 100%;
    background: #FFF8DC;
    height: 5%;
    line-height: 100px;
    border-bottom: 1px solid black;
}
/*Aquí colocamos el tamaño que queremos avarque la zona de los links*/ 
.seccioninterna{
    height: 15%;
    width: 100%;
    line-height: 40px

}
/*Aquí colocamos el tamaño que queremos avarque la zona del contenido digital*/  
.contenido{
    height: 50%;
    width: 100%;
}
/*Aquí colocamos el tamaño que queremos avarque la zona del pie de pagina y le cambiamos el fondo y lo centramos*/ 
footer{
    background-color: #ADD8E6;
    color: black;
    text-align: center;
    height: 5%;
    line-height: 50px;
    width: 100%;
    border-top: 1px solid black;

}
/*De aqui en adelante modificamos los links para darle un buen diseño tanto a los links de los enlaces a videos externos como a los links de la propia pagina*/ 
.enlaces-externos{
    height: 25%;
    float: left;
    width: 50%;
   
}

iframe{
    height: 400px;
    float: left;
    width: 50%;
}
/*Adaptamos la página para verse correctamente desde una tablet*/
@media screen and (max-width: 915px){
    .enlaces-externos{
      width: 100%;
      
    }
  
    iframe{
      width: 100%;
      
    }
  
    .imagen1{
      width: 400px;
      height: auto;
    }
  
    .imagen2{
      width: 400px;
      height: auto;
    }
    
  }
  /*Adaptamos la página para verse correctamente desde un celular*/
  @media screen and (max-width: 540px) {
    .enlaces-externos{
      width: 100%;
    }
  
    iframe{
      display: none;
    }
  
    .celular{
      display: none;
    }
  
    .imagen1{
      width: 300px;
      height: auto;
    }
  
    .imagen2{
      width: 300px;
      height: auto;
    }
    
  }
  
  /*Adaptamos la página para que se vea mejor en un telefono muy delgado como lo puede ser un Galaxi Fold eliminando las imagenes*/
  @media screen and (max-width: 280px){
    .imagen1{
      display: none;
    }
  
    .imagen2{
      display: none;
    }
    
  }

.clearfix{
    clear: both;
}

.centrar{
    display: flex;
    justify-content: center;
}

.seccioninterna a{
    text-decoration: none;
    color: #9400D3;
    padding: 0 10px;
}

.seccioninterna a:hover{
    color: #FFF8DC;
    background-color: #A9A9A9;
}

.enlaces-externos a{
    text-decoration: none;
    color: #9400D3;
    padding: 0 10px;
}

.enlaces-externos a:hover{
    color: #FFF8DC;
    background-color: #A9A9A9;
}

.volverinicio{
    font-size: 50px;
}
/*Aqui modificamos el tamaño de los titulos*/
b{
    font-size: 25px;
}

