*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
    gap: 5px;
    background-image: url(imgcomen/unifon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor{
    background-color: rgba(255,255,255,0.7);
    width: 35%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.contenedor-2{
    width: 35%;
    height: auto;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 20px;
    text-transform: capitalize;
    border-radius: 20px;
}

.comentario{
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
    border-radius: 20px;
    color: black;
}

.contenedor-agg-com{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagen-usuario{
    width: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img{
    width: 50px;
}

.input-com{
    width: 100%;
    height: 100px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;
}

#nuevoComentario{
    outline: none;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    border-bottom: 2px solid rgba(255,255,255,0);
    transition-duration: 200ms;
}

#nuevoComentario::placeholder{
    color:black;
}

#nuevoComentario:focus{
    border-bottom: 2px solid red;
}

.btn-agg{
    height: 60px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px 5px 0px 0px;
}

button{
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

.close{
    font-size: 12px;
    position: absolute;
    right: 35%;
    width: 20px;
    z-index: 20;
    transition-duration: 200ms;
    display: block;
    cursor: pointer;
    color: red;
}

/*Adaptamos la página para verse correctamente desde una tablet*/
@media screen and (max-width: 915px){
    .contenedor{
        width: 65%;
    }
    .contenedor-2{
        width: 65%;
    }

    .close{
        right: 25%;
    }
   
  }
  /*Adaptamos la página para verse correctamente desde un celular*/
  @media screen and (max-width: 540px) {
    .contenedor{
        width: 90%;
    }
    .contenedor-2{
        width: 90%;
    }

    .close{
        right: 15%;
    }
   
    
  }
  
  /*Adaptamos la página para que se vea mejor en un telefono muy delgado como lo puede ser un Galaxi Fold eliminando las imagenes*/
  @media screen and (max-width: 280px){
    .contenedor{
        width: 95%;
    }
    .contenedor-2{
        width: 95%;
    }

    .close{
        right: 16%;
        font-size: 8px;
    }

    
  }